body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-variant-ligatures: common-ligatures;
  background-image: url("../img/valentines_rose-1215314_640.jpg");
  background-repeat: repeat;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: euphoriaScript;
  src: url(../fonts/EuphoriaScript-Regular.otf);
}

.bg-img {
  /* The image used */
  background-image: url("../img/valentine_red-rose-flower-petals-background-header.jpg");
  image-rendering: auto;

  min-height: 280px;

  /* Center and scale the image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 5px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: #0ca5b0;
  font-family: "Quicksand";
  font-size: 52px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -4px;
  margin-bottom: 36px;
}

p {
  padding-top: 30px;
  color: #ffbd33;
  font-family: "euphoriaScript";
  background-color: #f2f2f2;
  font-size: 48px;
  font-weight: 500;
  max-height: 600px;
}

h2 {
  color: #4caf50;
  font-family: "Cormorant Garamond";
  border-bottom: 3px solid #e66c7e;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 5px;
  margin-bottom: 57px;
  text-align: center;
  text-indent: 24px;
  text-transform: uppercase;
}

article {
  padding-top: 50px;
  padding-bottom: 1px;
  color: #ffbd33;
  font-family: "euphoriaScript";
  background-color: rgb(72, 121, 151);
  font-size: 30px;
  font-weight: 500;
}

address {
  font-variant-caps: small-caps;
}

article {
  display: block;
}

/* Request And Contact Us HTML Form  Styling */
input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="tel"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.requestForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.formtext {
  height: 200px;
  width: 600px;
}

.price-tag {
  background: #058;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  height: 30px;
  line-height: 30px;
  margin-right: 1rem;
  padding: 0 0.666rem;
  position: relative;
  text-align: center;
}
.price-tag:after {
  background: inherit;
  border-radius: 4px;
  display: block;
  content: "";
  height: 22px;
  position: absolute;
  right: -8px;
  top: 4px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 22px;
  z-index: -1;
}
.price-tag:hover {
  background: #07b;
}

figcaption {
  color: #212121;
}
